.prof-info__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-image: url(../../../images/Vectorpen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    grid-area: edit-button;
    align-self: center;
    padding: 0;
    cursor: pointer;
}

.prof-info__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .prof-info__edit-button {
        bottom: 0;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 7px;
        right: 20px;
    }
}