.prof-info__description {
    grid-area: description;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    align-self: end;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap; 
} 

@media screen and (max-width: 767px) {
    .prof-info__description {
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}