.popup__caption {
    position: absolute;
    left: 0;
    max-width: 100%;
    font-family: Inter;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 -22px;
    background-color: inherit;
}