.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-image: url(../../../images/imageavatar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    margin-right: 30px;
    flex-shrink: 0;
}

@media screen and (max-width: 767px) {
    .profile__avatar {
        margin-right: 0;
        margin-bottom: 26px;
    }
}